.italic {
  font-style: italic;
}

body {
  background-color: #51868C;
  font-family: "Cochin", serif;
  padding-left:0 ; /* メニュー欄との間隔を調整 */
  margin: 0; /* bodyの余白を削除 */
  margin-left: 88px; 

}

header {
  padding: 5px;
  color:#ffffff;
  font-size: 20px;
  margin:0;
  text-align: left;
  padding-left: 0px; /* メニュー欄との間隔を調整 */
  padding-top: 2px;
  margin-left: 10px; 
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #51868C;
  padding: 5px;
  color: #ffffff;
  border-right: 1px solid #ccc;
  height: 100%;
  width: 88px;
  margin-left: 0px;
  background-image: url("pianoicon.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 333px;

}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-image: url("piano-imagesukes.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* 画像を背面に配置 */

}

.button-container {
  border-radius: 10px;
  background-image: linear-gradient(to right, #A9A9A9, #51868C);
  display: inline-block;
}

a {
  color: #FFD700; /* リンクの文字色を赤色に設定 */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  color: #aaa;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  margin-right: 10px;
  text-decoration: none;
}

section {
  color: #FFFFFF;
  padding: 20px;

}

#greeting {
  background-color: #51868C;
  background-size: cover;
}

#lessons {
  background-color: #51868C;
}

#contact {
  background-color: #51868C;
}
#top h2,
#lesson h2,
#contact h2 {
  font-family: "Times New Roman", serif;
}

#top p,
#spoon p,
#score p,
#lesson p,
#contact p {
  font-family: "Times New Roman", serif;
}
