.italic {
  font-style: italic;
}

body {
    background-color: #51868C;
    font-family: "Cochin", serif;
    padding-left: 90px; /* メニュー欄との間隔を調整 */

}

header {
    background-image: url("piano-image.jpg");
    background-size: 40% auto; /* 幅を100%に調整 */
    background-repeat: no-repeat;
    background-position: right;
    padding: 1px;
    color:#ffffff;
    font-size: 20px;
    margin:0;
    text-align: left;
    padding-left: 10px; /* メニュー欄との間隔を調整 */
}

.menu {
  font-size: 11.5px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #51868C;
  padding: 20px;
  color:#ffffff;
  border-right: 1px solid #ccc; /* メニュー欄とボディの欄を分ける線を追加 */
  height: 100%; /* メニュー欄の高さを100%に設定 */
  width: 100px; /* メニュー欄の幅を調整 */
  margin-left:0px; /* メニュー欄の左側の余白を設定 */
  padding-right: 0px; /* 線とテキストの間の余白 */
  box-sizing: border-box; /* ボーダーボックスを考慮したボックスモデル */

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

.menu li a:hover {
  color: #555;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin-right: 10px;
    text-decoration: none;
}

section {
    color: #FFFFFF;
    padding: 20px;

}

#greeting {
    background-color: #51868C;
    background-size: cover;
}

#lessons {
    background-color: #51868C;
}

#contact {
    background-color: #51868C;
}
#top h2,
#lesson h2,
#contact h2 {
    font-family: "Times New Roman", serif;
}

#top p,
#spoon p,
#score p,
#lesson p,
#contact p {
    font-family: "Times New Roman", serif;
}
